body {
    color: red;
    background-color: aliceblue;
}

/*especifidade, 2 seletores = última regra aplicada, caso coloque 
!important esse seletor será utilizado*/

p {
    color: blue !important;
}

p {
    color: rebeccapurple;
}

/* seletores mais específicos serão aplicados antes de regras gerais */
* {
    color: aqua;
}

h2 /*esse é mais específico*/{
    color: black;
}

h2.verde /*esse é mais específico ainda, e qnd ID ele é + especifico ainda
*/ {
    color: green;
}