body {
    background-color: pink;
}

#principal {
width: 980px;
}

.noticia {
background: blanchedalmond;
padding: 5px;
width: 255px;
margin: 5px;
float: left;
}

.clear {
    clear: both;
}

.imagem-galeria {
    background: white;
    width: 265Spx;
    padding: 5px;
    float: left;
}